// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.ui-icon-transmission, .ui-icon-transmission:after {
	background-image: url(image-path('transmission.png')) 50% 50% no-repeat;
    background-size: 30px 30px;
    width: 30px;
    height: 30px;
    margin-top: -15px !important;
    box-shadow: none;
    -webkit-box-shadow: none;
}