<ul data-role="listview" data-filter="true" data-filter-placeholder="Search..." data-inset="true" data-autodividers="true">

	<% @data.each do |res| %>
	    <li><a href="#"><%= res.name %></a></li>
	<% end %>
</ul>