<div data-role="header" data-theme="b">
	<h1>Homer</h1>
	<a href="/logout" data-icon="power" class="ui-btn-right">&nbsp;</a>
	<div data-role="navbar">
		<ul>
			<li>
				<a href="/filesystem?route=<%= Route::DOWNLOAD %>" data-transition="fade" data-icon="bullets" rel="external"></a>
			</li>
			<li>
				<a href="/filesystem?route=<%= Route::MOVIE %>" data-transition="fade" data-icon="video" rel="external"></a>
			</li>
			<li>
				<a href="/filesystem?route=<%= Route::MUSIC %>" data-transition="fade" data-icon="audio" rel="external"></a>
			</li>
			<li>
				<a href="/filesystem?route=<%= Route::ISO %>" data-transition="fade" data-icon="calendar" rel="external"></a>
			</li>
			<li>
				<a href="/operativesystem" data-transition="fade" data-icon="gear" rel="external"></a>
			</li>
		</ul>
	</div><!-- /navbar -->
</div><!-- /header -->
