<div data-role="header" data-position="fixed" data-theme="b">
	<div data-role="navbar" data-iconpos="right">
		<ul>
			<li>
				<a href="/download" data-transition="flip" data-icon="bullets">Download</a>
			</li>
			<li>
				<a href="/transmission" data-transition="flip" data-icon="plus">Transmission</a>
			</li>
			<li>
				<a href="/movie" data-transition="flip" data-icon="video">Movie</a>
			</li>
			<li>
				<a href="/music" data-transition="flip" data-icon="audio">Music</a>
			</li>
			<li>
				<a href="#" data-transition="flip" data-icon="power">Setup</a>
			</li>
		</ul>
	</div><!-- /navbar -->
</div><!-- /header -->
