<div data-role="header" data-theme="b">
	<h1>Homer</h1>
	<a href="/logout" data-icon="power" class="ui-btn-right">&nbsp;</a>
	<div data-role="navbar">
		<ul>
			<li>
				<a href="/filesystem?route=download" data-transition="fade" data-icon="bullets"></a>
			</li>
			<li>
				<a href="/transmission" data-transition="fade" data-icon="plus"></a>
			</li>
			<li>
				<a href="/filesystem?route=movie" data-transition="fade" data-icon="video"></a>
			</li>
			<li>
				<a href="/filesystem?route=music" data-transition="fade" data-icon="audio"></a>
			</li>
			<li>
				<a href="/filesystem?route=iso" data-transition="fade" data-icon="calendar"></a>
			</li>
		</ul>
	</div><!-- /navbar -->
</div><!-- /header -->
