<div data-role="header" data-position="fixed" data-theme="b">
	<div data-role="navbar">
		<ul>
			<li>
				<a href="/download" data-transition="flip" data-icon="bullets"></a>
			</li>
			<li>
				<a href="/transmission" data-transition="flip" data-icon="plus"></a>
			</li>
			<li>
				<a href="/movie" data-transition="flip" data-icon="video"></a>
			</li>
			<li>
				<a href="/music" data-transition="flip" data-icon="audio"></a>
			</li>
			<li>
				<a href="/logout" data-transition="flip" data-icon="power"></a>
			</li>
		</ul>
	</div><!-- /navbar -->
</div><!-- /header -->
