<div data-role="panel" id="panelActionFile" data-transition="overlay">
	<a href="#panelActionFile" data-rel="close" class="ui-btn ui-shadow ui-corner-all ui-icon-delete ui-btn-icon-left ui-btn-inline">Close</a>
</div><!-- /panel -->